/* estos son los estilos generales para todo */
*{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   -webkit-font-smoothing: antialiased;
   text-decoration: none;
   color: black; 
   margin: 0; 
   padding: 0; 
   background-color:  rgb(227, 225, 225);
}

body{ font-size: 1em; }

/* este es el titulo h1 */
h1{ 
    font-size: 2em; 
    margin-bottom: 20px;
}

/* estos son los enlaces */
a{ color: green}

a:hover , a:active { 
    text-decoration: underline;
}

/* esto aparece en la parte superior de los espacios a rellenar de un formulario */
label { 
    display: block;
    margin-bottom: 20px;
}

input, button {
    display: block;
    font-size: 1em;
    width: 100%;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
}

/* los focus se usan para dar enfasis a un objeto en particular */

input:focus{
    border-color: gray;
    outline: 0;
}

button{
    /* tamaño */
    font-size: 1.125em;
    color: rgb(250, 246, 246);
    height: 50px;
    margin-bottom: 20px;
    border: none; 
    /* para que aparezca la manito de dar click */
    cursor: pointer;
}

/* Estilos a todas las clases */

.login__header{
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
}

.logo-netflix{ 
    display: block;
    text-indent: -9999px;
    height: 100px;
    background: url("imagenes/logo-netflix.png") 20px/200px no-repeat;
}